.mobile.movieCard {
  .movieCard__wrapper {
    height: 100%;
    gap: 10px;

    .movieCard__poster {
      gap: 10px;

      img {
        display: block;
        width: 60px;
        height: 90px;
      }

      .movieCard__movieInfo {
        .movieCard__movieInfo-title {
          max-width: 255px;
          margin-top: 0;
          margin-bottom: 10px;
        }

        .movieCard__movieInfo-releaseDate {
          margin-bottom: 5px;
        }

        .movieCard__movieInfo-genres {
          margin-left: -2.5px;
        }
      }

      .movieCard__popularity {
        width: 30px;
        height: 30px;
        display: flex;
        margin-left: auto;
        align-items: center;
        justify-content: center;
        background-color: white;
        border: 2px solid #e9d100;
        border-radius: 50%;
        font-size: 12px;
      }
    }

    .movieCard__rate {
      margin-left: auto;
      margin-top: auto;
    }
  }
}

.desktop.movieCard {
  .movieCard__wrapper {
    height: 100%;
    gap: 10px;

    .movieCard__poster {
      gap: 10px;

      img {
        display: block;
        width: 180px;
        height: 240px;
      }

      .movieCard__movieInfo {
        .movieCard__movieInfo-title {
          width: 235px;
          margin-top: 10px;
          margin-bottom: 10px;
        }

        .movieCard__movieInfo-popularity {
          width: 30px;
          height: 30px;
          display: flex;
          margin-left: auto;
          align-items: center;
          justify-content: center;
          background-color: white;
          border: 2px solid #e9d100;
          border-radius: 50%;
          font-size: 12px;
          margin-top: 10px;
          margin-right: 10px;
        }

        .movieCard__movieInfo-releaseDate {
          margin-bottom: 5px;
        }

        .movieCard__movieInfo-genres {
          margin-left: -2.5px;
          margin-bottom: 10px;
        }

        .movieCard__movieInfo-description {
          max-width: 210px;
        }

        .movieCard__movieInfo-rate {
          margin: auto 10px 10px auto;
        }
      }
    }
  }
}
